body {
  overflow: hidden;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

input, label {
  display: block;
  margin-bottom: 8px !important;
  margin-top: 8px !important;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
 input {
   height: 4vh;
 }

button {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  height: 4vh;
  width: 10vh;
  margin: 7px 0px;
}

span {
  color: #4b778d;
}

p {
  text-align: center;
  color: red;
}

button:hover {
  background-color: #d2e69c;
}

span:hover {
  background-color: #d2e69c;
}

.simpleCont {
  width: 100%;
}

.base {
  margin: auto;
  text-align: center;
}

.login {
  margin: auto;
  height: 98vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loginContainer {
  width: 350px;
  background: radial-gradient( #d2e69c, #c4e270);
  border-radius: 9px;
  margin: auto;
}

.btnContainer {
  text-align: center;
}

.shadow {
  -webkit-box-shadow: 1px 1px 7px 4px #bbc79b; 
  -moz-box-shadow:    1px 1px 7px 4px #bbc79b;  
  box-shadow:         1px 1px 7px 4px #bbc79b;
}

